@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "bootstrap";

@import "src/assets/scss/components/components";

@font-face{
  font-family: Telia Sans;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/TeliaSansBold.woff2) format("woff2"),
  url(../fonts/TeliaSansBold.woff) format("woff")
}

html, body {
  font-family: Telia Sans,freesans,sans-serif;
  font-size: 16px;
  background-color: #FAFAFB;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
