$purple-light: #990AE3;
$purple-dark: #7907B3;
$grey: #F2F2F2;
$white: #FFFFFF;
$green-light: #00A552;
$green-dark: #008641;
$red-light: #E4175C;
$red-dark: #BF134D;
$pink-light: #D22DB9;
$pink-dark: #FF00CD;

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Telia Sans,sans-serif;
  font-weight: 700;
  max-width: 200px;

  .btn-text {
    text-align: center;
    font-weight: 700;
  }
}

.btn-sm {
  padding: 5px 20px;
  font-size: 14px;
  line-height: 16px;
  border-radius: 16px;
  height: 32px;

  &.btn-icon-left svg {
    margin-right: 5.5px;
  }

  &.btn-icon-right svg {
    margin-left: 5.5px;
  }

  &.btn-only-icon {
    padding: 0;
    height: 32px;
    width: 32px;
  }
}

.btn-lg {
  padding: 0 30px;
  font-size: 16px;
  line-height: 18px;
  border-radius: 24px;
  height: 48px;
  min-width: 150px;

  &.btn-icon-left svg {
    margin-right: 8.25px;
  }

  &.btn-icon-right svg {
    margin-left: 8.25px;
  }

  &.btn-only-icon {
    min-width: 0;
    padding: 0;
    height: 48px;
    width: 48px;
  }
}

@mixin button-primary($primary-color, $secondary-color, $attribute-color) {
  background: $primary-color none;
  border: 2px solid $primary-color;

  .btn-text, svg {
    color: $attribute-color;
  }

  &:hover {
    background: $secondary-color;
    border: 2px solid $secondary-color;
  }

  &:disabled {
    background: $primary-color;
    border-color: $primary-color;
    opacity: 0.4;
  }

  &:focus {
    background: $secondary-color;
    border: 2px solid $secondary-color;
  }
}

@mixin button-secondary($primary-color, $secondary-color, $attribute-primary-color, $attribute-secondary-color: $white) {
  @include button-primary($primary-color, $secondary-color, $attribute-primary-color);
  &:hover {
    background: $primary-color;
    border: 2px solid $attribute-primary-color;

    &.btn-only-icon {
      background: $attribute-secondary-color;
      border: 2px solid $primary-color;
    }
  }

  &:focus {
    background: $primary-color none;
    border: 2px solid $attribute-primary-color;

    &.btn-only-icon {
      background: $attribute-secondary-color;
      border: 2px solid $primary-color;
    }
  }
}

@mixin button-text($primary-color, $secondary-color) {
  line-height: 22px;
  text-decoration: underline $primary-color;

  .btn-text, svg {
    color: $primary-color;
  }

  &:hover {
    .btn-text, svg {
      color: $secondary-color;
      text-decoration: underline $secondary-color;
    }
  }

  &:disabled {
    .btn-text, svg {
      color: $primary-color;
      opacity: 0.4;
    }
  }

  &:focus {
    .btn-text, svg {
      color: $secondary-color;
      text-decoration: underline $secondary-color;
    }
  }
}

.btn-primary {
  @include button-primary($purple-light, $purple-dark, $white)
}

.btn-secondary-grey {
  @include button-secondary($grey, $purple-dark, $purple-light, $white);
}

.btn-secondary-white {
  @include button-secondary($white, $purple-dark, $purple-light, $grey)
}

.btn-purchase {
  @include button-primary($green-light, $green-dark, $white);
}

.btn-withdrawal {
  @include button-primary($red-light, $red-dark, $white);
}

.btn-withdrawal-grey {
  @include button-secondary($grey, $red-dark, $red-light);
}

.btn-withdrawal-white {
  @include button-secondary($white, $red-dark, $red-light);
}

.btn-customer-service {
  @include button-primary($pink-light, $pink-dark, $white);
}

.btn-customer-service-grey {
  @include button-secondary($grey, $pink-dark, $pink-light);
}

.btn-customer-service-white {
  @include button-secondary($white, $pink-dark, $pink-light);
}

.btn-primary-text {
  @include button-text($purple-light, $purple-dark);
}

.btn-customer-support-text {
  @include button-text($pink-light, $pink-dark);
}